/* --------------------otp css----------------------------------------------------------- */

/* ::selection {
	background-color: #8e44ad;
}

.container-fluid .row{
		align-items: center;
		width: 100vw;
		height: 90vh;
    font-size: larger;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color:crimson;
}
.textSubmit{
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: large;
  width: 116px;
  outline: none;
  border: none;
  margin: 9px 20px;
  border-radius: 10px;
  height: 45px;
  background-color: chartreuse;
  color: currentColor;
}


.passcode-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	padding: 0 auto 30px;
}
.passcode-wrapper input{
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 5px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
}
.passcode-wrapper input&:last-child{
	margin-right: 0;
}
.passcode-wrapper input &::-webkit-inner-spin-button,
&::-webkit-outer-spin-button{
	-webkit-appearance: none;
			appearance: none;
			margin: 0;
}


.passcode-wrapper input &:focus,
		&.focus {
			border-color: green;
			outline: none;
			box-shadow: none;
		} */




/* -----------------------------------forgot password--------------------------------------- */
* {
  box-sizing: border-box;
}
.bgimg2{
  background-color:slategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type=text] {
  width: 100%;
  height: max-content;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 20px;
}

label {
  padding: 0 12px 12px 0;
  display: inline-block;
}

.submit {
  background-color: #04AA6D;
  color: white;
cursor:pointer;
}

.submit:hover {
  background-color: #45a049;

}
.submit:disabled{
  background-color:grey;
}

.container {
  padding-top: 150px;
}

.col-25 {
  float: left;
  width: 40%;
  margin-top: 6px;
}
.font{
  font-size:large;
  font-weight: 900;
}
.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
}