
<div  class="bgimg2" *ngIf="isLoading==true">
    <app-apploader></app-apploader>
  </div>
<!-- -------------------------------------passing email--------------------------------------------------------- -->

  <div *ngIf="isLoading!=true">
<div class="bgimg2"  *ngIf="otp==false">

<!-- <div class="container w-100 h-100"> -->
    <form [formGroup]="ForgotEmailForm" class="row mt-5 w-100 h-100 align-item-center justify-content-center" (ngSubmit)="forgotmail()" >
      <div class="col-1"></div>
        <div class="col-10 col-md-5 w-50">
         <div class="row"><div class="col-12">
          <label class="font" for="emailForgot">Enter Your Email:</label>
         </div></div>
            
         
          <input type="text" name="emailForgot" formControlName="emailForgot" placeholder="Your email..">
       <div class="row"><div class="col-12">
        <div class="text-center" *ngIf="ForgotEmailForm.get('emailForgot')?.invalid && 
        ForgotEmailForm.get('emailForgot')?.errors && 
        (ForgotEmailForm.get('emailForgot')?.dirty || ForgotEmailForm.get('emailForgot')?.touched)">
        <span class="text-danger" *ngIf="ForgotEmailForm.get('emailForgot')?.hasError('required')">Error : Email is required !</span>
        <span class="text-danger" *ngIf="ForgotEmailForm.get('emailForgot')?.hasError('pattern')">Error : Invlaid Email (Ex: yprakashr@gmail.com) !</span>
      </div>
       </div></div>
       
      <div class="row">
        <div class="col justify-content-start">
        <button type="submit" [disabled]="ForgotEmailForm.invalid" class="btn submit mb-5 float-start">Submit</button>
      </div>
      </div>
      </div> 
        <div class="col-1"></div>
    </form>
   
<!-- </div> -->
</div>
</div>



<!-- ------------------------------------otp verification----------------------------------------------------- -->


  <div class="bgimg2"  *ngIf="otp==true">
    <!-- <div class="container"> -->
        <form [formGroup]="OTPmailForm" class="row mt-5 w-100 h-100 align-item-center justify-content-center" (ngSubmit)="otpmail()" >

            <div class="col-1"></div>
            <div class="col-10 col-md-12 col-sm-12 w-50">
              <div class="row"><div class="col-12">
                <label class="font" for="OTPmail">Verify</label></div></div>
              <input type="text"  pattern="^\d+$" name="OTPmail" formControlName="OTPmail" placeholder="Please enter your OTP">  
            <div class="text-center" *ngIf="OTPmailForm.get('OTPmail')?.invalid && 
            OTPmailForm.get('OTPmail')?.errors && 
            (OTPmailForm.get('OTPmail')?.dirty || OTPmailForm.get('OTPmail')?.touched)">
            <span class="text-danger" *ngIf="OTPmailForm.get('OTPmail')?.hasError('required')">Error : Email is required !</span>
            <span class="text-danger" *ngIf="OTPmailForm.get('OTPmail')?.hasError('pattern')">Error : Invlaid Email (Ex: yprakashr@gmail.com) !</span>
          </div>
          <div class="row">
            <div class="col">
            <button type="submit"  class="btn submit mb-5 float-start">Submit</button>
          </div>
        </div>
            <div class="col-1"></div>
          </div>   

        </form>
    <!-- </div> -->
  </div>


