<div class="backgroundColor">
  <img src="../../assets/images/commandcenterlogo.png" width="100" height="100" class="commandcenterlogo" alt="">
  <!-- Section: Design Block -->
  <section class="h-100 gradient-form" style="background:linear-gradient(to right,
rgb(224, 229, 255) 0%,
rgb(224, 229, 255) 50%,
#00096b 50%,
#00096b 100%);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6 w-50 bg-white">
                <div class="text-color d-block px-3 py-5 p-md-5 mx-md-4">
                  <h4 class="fw-bold mb-4"  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large;font-weight:bold;">Welcome !</h4>
                  <p class="small mb-0"> Command Center is a comprehensive solution that
                    empowers individuals and teams to effortlessly
                    manage their appointments, tasks, and
                    commitments. With intuitive features and a user-
                    friendly interface, it's never been easier to take
                    control of your time and achieve your goals.</p>
                </div>
                <div class="d-block justify-content-center d-flex ">
                  <img src="../../assets/images/loginvector.png" width="200" height="100" alt="">
                </div>
              </div>



              <div class="col-lg-6 greyGradiant">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">

                    <h4 class="mt-1 mb-5 pb-1 signIn" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large;font-weight:bold;">Sign In</h4>
                  </div>

                  <form [formGroup]="loginform" (ngSubmit)="LoginSubmit()">


                    <div class="form-outline mb-4">
                      <input formControlName="mail" type="email" id="form2Example11" class="form-control" placeholder="Email/ Mobile Number" />
                    </div>

                    <div class="form-outline mb-4">
                      <input  formControlName="password" type="password" placeholder="Password" id="form2Example22" class="form-control" />
                    </div>
                    <div class="form-check d-flex justify-content-start mb-4">
                      <input  class="form-check-input" type="checkbox" value="" id="form1Example3" />
                      <label class="form-check-label px-2" for="form1Example3"> Remember password </label>
                    </div>
                    <!-- <div class="text-center pt-1 mb-5 pb-1"> -->
                    <button class="btn btn-primary w-100  mb-3" type="submit">Sign
                      in</button>
                    <!-- </div> -->

                    <div>
                      <p class="mb-0 text-center">Don't have an account? <a href="#!" class=" fw-bold">Sign Up</a>
                      </p>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->





















  <!-- <section class="p-5 m-5 sectionCommand">
  <img src="../../assets/images/commandcenterlogo.png" class="position-absolute commandCenter" alt="">

    <div class="container ">
      <div class="row gx-lg-5 align-items-center">
        <div class="content py-4 col-lg-6 mb-4 mb-lg-0 ">
          <h1>

            <span class="text-primary py-4">Welcome !</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Command Center is a comprehensive solution that
            empowers individuals and teams to effortlessly
            manage their appointments, tasks, and
            commitments. With intuitive features and a user-
            friendly interface, it's never been easier to take
            control of your time and achieve your goals.
          </p>
          <div class="d-flex justify-content-center align-items-center"><img src="../../assets/images/loginvector.png" class="img-fluid image"  alt="login"></div>
        </div>

        <div class="loginform  py-4 col-lg-6 mb-4 mb-lg-0">
            <div class="card-body py-3 px-md-5">
              <h1 class="font">Sign In</h1>
              <form>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" placeholder="Email/ Mobile Number" class="form-control" />
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" placeholder="Password" class="form-control" />
                </div>

                <div class="form-check mb-4">
                  <input class="form-check-input me-2" type="checkbox" value=""  id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Remember me
                  </label>
                </div>

                <button type="submit" routerLink="/dash" class="btn btn-primary btn-block mb-4 w-100">
                  Sign In
                </button>


              </form>
            </div>
        </div>
      </div>
    </div>

</section> -->
  <!-- Section: Design Block -->


  <!-- <div>
    <img src="../../assets/images/commandcenterlogo.png" class="img-fluid imageCircle  circular--square" width="100"
    height="100" alt="logo"></div> -->
  <!-- <div class="row  loginpage w-75 ">

<div class="content p-5 col-6" >
<div class="font">
  <h2>Welcome !</h2>
  <p>Command Center is a comprehensive solution that
    empowers individuals and teams to effortlessly
    manage their appointments, tasks, and
    commitments. With intuitive features and a user-
    friendly interface, it's never been easier to take
    control of your time and achieve your goals.</p>
</div>
<div><img src="../../assets/images/loginvector.png" class="img-fluid"  alt="login"></div>

</div>
<div class="loginform col-6 p-5">
<h1 class="font">Sign In</h1>
<form class="py-2"> -->



  <!-- Email input -->
  <!-- <div class=" mb-4">
    <input type="email" id="" class="border w-100 input"
      placeholder="Email\Mobile Number" />
  </div> -->


  <!-- Password input -->
  <!-- <div class="form-outline mb-3">
    <input type="password" id="form3Example4" class="border w-100 input"
      placeholder="Password" />
  </div>

  <div class="d-flex justify-content-between align-items-center"> -->




  <!-- Checkbox -->
  <!-- <div>
      <input type="checkbox" class="me-1" value="" id="form2Example3" />
      <label style="font-size:small;" for="form2Example3">
        Remember me
      </label>
    </div>
    <a >Forgot password?</a>
  </div>

  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="button" class="btn btn-lg btn-block  w-100 mb-2" >Sign In</button>
  </div>
</form>
</div>
</div>
</div>
</div> -->
</div>