 @font-face {
       font-family: 'Mont-Light';
       src: url('./assets/fonts/Montserrat-Light.ttf');
 }

 @font-face {
       font-family: 'Montserrat-Medium';
       src: url('./assets/fonts/Montserrat-Medium.ttf');
 }

 @font-face {
       font-family: 'Montserrat-Bold';
       src: url('./assets/fonts/Montserrat-Bold.ttf');
 }




 body {
       margin: 0;
       /* box-sizing: border-box;
      height:100%;
      padding:0 */
 }