<!-- <mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Responsive side navigation
</mat-toolbar> -->

<mat-sidenav-container *ngIf="dash==true" class="vh-100">
  <mat-sidenav [opened]=openedNavBar #nav mode="side">
    <img
      class="avatar mat-elevation-z8"
      src="../../assets/images/commandcenterlogo.png"
    />

    <h4 class="name fw-bolder">Command Center</h4>
    <!-- <p class="designation">Software Engineer</p> -->

    <!-- <mat-divider></mat-divider> -->
    <div class=" dropdown-center">
      <div class="bg-dark">
    <button class="dropdown-toggle w-100 justify-content-between list-group-item list-group-item-action  ripple "
    aria-current="true"
    data-mdb-toggle="collapse"
    href="#collapseExample2"
    aria-expanded="true"
    aria-controls="collapseExample2"
    (click)="collapsed = !this.collapsed" mat-button class="fw-normal text-white" routerLink="/home">
      <!-- <mat-icon>home</mat-icon> -->
      <i class=" bi bi-bezier"></i>
      <span class="mx-1">Workflow</span><i style="font-size:xx-small; padding-left: 20px;" class="pr-5 sideicon bi bi-caret-right-fill"></i>
    </button></div>

  <!-- Collapsed content -->
  <ul  [ngClass]="{ collapse: collapsed, 'navbar-collapse': false}" id="collapseExample2" class="text-start collapse list-group list-group-flush">
    <li routerLink="/sche" class="cursorPointer px-3 w-100 py-1">
      <i class="bi bi-calendar3"></i>
     <span class="mx-1">Schedule</span>
    </li>
    <li routerLink="/statusrun" class="cursorPointer px-3 w-100 py-1">
      <i class="bi bi-opencollective"></i>
   <span class="mx-1">Status and Runs</span>
    </li>
  </ul>
</div>
<div class="bg-dark my-2 dropdown-center">
    <button mat-button class="fw-normal text-white" routerLink="/profile">
      <!-- <mat-icon>person</mat-icon> -->
      <i class="bi bi-bezier2"></i>
      <span class="mx-1">Reports</span><i style="font-size:xx-small; padding-left: 33px;" class="pl-5 bi bi-caret-right-fill"></i>
    </button></div>
  </mat-sidenav>

  <mat-sidenav-content>
    <h1 class="heading">{{route}}</h1>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="dash==false">
  <router-outlet></router-outlet>
</div>





