<app-apploader *ngIf="appLoader"></app-apploader>

<div *ngIf="!appLoader" class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-md-12">
      <form [formGroup]="GoForm" (ngSubmit)="onSubmit()"
        class="row row-cols-lg-auto  align-items-center justify-content-start">
        <div class="col-12 margin-left-input my-2">
          <strong for=" inline-username">From</strong>
          <div class="input-group input-group-sm">
            <input formControlName="from" type="date" class="form-control1" id="inline-username" placeholder="WorkFlow">
          </div>
        </div>
        <div class="col-12 margin-left-input my-2">
          <strong for="preference">To</strong>
          <div class="input-group input-group-sm">
            <input type="date" min="{{minDate}}" formControlName="to" class="form-control1" id="inline-username"
              placeholder="Bot Name">
          </div>
        </div>
        <button type="submit" class="go-button">Go</button>
      </form>
    </div>
  </div>
</div>


<div class="container my-3 ">
  <div class="row justify-content-start">
    <div class="col-md-8">
      <form class="row row-cols-lg-auto g-3 align-items-center justify-content-start">
        <div class="col-12">
          <!-- <label for="inline-username" class="visually-hidden">Username</label> -->
          <p class="searchByText">or&nbsp;<span>Search By</span></p>
        </div>

        <div class="col-12">
          <!-- <label for="inline-username" class="visually-hidden">Username</label> -->
          <div class="input-group input-group-sm">
            <button active (click)="searchByMONTH()" id="searchBy1"
              [class]="searchByIsActive_thisMonth?'searchBy-active':'searchBy'">This Month</button>
          </div>
        </div>

        <div class="col-12">
          <button (click)="searchByPrevMONTH()" id="searchBy2"
            [class]="searchByIsActive_prevMonth?'searchBy-active':'searchBy'">Previous Month</button>
        </div>

        <div class="col-12">
          <button (click)="searchByLast3MONTHs()" id="searchBy3"
            [class]="searchByIsActive_threeMonth?'searchBy-active':'searchBy'">Last 3 Months</button>
        </div>
        <div class="col-12">
          <button (click)="normalData()" id="searchBy4"
            [class]="searchByIsActive_all?'searchBy-active':'searchBy'">All</button>
        </div>
        <!-- <div class="col-12">
          <button (click)="searchByFiscalYear()" id="searchBy" [class]="searchByIsActive_fiscalYear?'searchBy-active':'searchBy'">Fiscal Year</button>
        </div> -->

      </form>
    </div>
  </div>
</div>


<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container class="rowheight" matColumnDef="workflowName">
      <th mat-header-cell mat-sort-header id="backgroundHeader" *matHeaderCellDef> Work Flow Name </th>
      <td mat-cell (click)="workflow(element.id)" class="pe-auto" *matCellDef="let element"> {{element.workflowName}}
      </td>
    </ng-container>

    <ng-container class="rowheight" matColumnDef="botName">
      <th mat-header-cell mat-sort-header id="backgroundHeader" *matHeaderCellDef> Bot Name </th>
      <td mat-cell *matCellDef="let element"> {{element.botName}} </td>
    </ng-container>

    <ng-container class="rowheight" matColumnDef="createdDate">
      <th mat-header-cell id="backgroundHeader" sortActionDescription="Sort by createdDate" mat-sort-header
        class="text-white" *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>

    <ng-container class="rowheight" matColumnDef="lastUpdatedDate">
      <th mat-header-cell id="backgroundHeader" mat-sort-header *matHeaderCellDef> Last Updated Date </th>
      <td mat-cell *matCellDef="let element"> {{element.lastUpdatedDate}} </td>
    </ng-container>

    <ng-container class="rowheight" matColumnDef="description">
      <th mat-header-cell id="backgroundHeader" mat-sort-header *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>