<!-- 
<div class=" limiter bgimg mb-5">

    <div class=" container-login100">
      <div class= "bg-light wrap-login">
   

</div>
</div>
</div> -->

<div class=" container-login100">
  <div class= "bg-light wrap-login">

<div class="container">
  <div class="row justify-content-center align-item-center">
    <div class="col">
    <h1 class="text-white rounded d-flex align-item-center bg-success m-5 p-5">
      Verification is successfull. You can login now. Thank you!</h1>
      <div class="row justify-content-center align-item-center"><div class="col"><button (click)="verified()" class="btn btn-primary d-flex justify-content-center margin align-item-center" type="submit">Click Here</button>
      </div></div>
  </div></div>
</div></div>
</div>

