.add-event-.body1 #add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-.body1 #add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}
.add-event-.body1 #add-event-input input::placeholder {
  color: #a5a5a5;
}
.add-event-.body1 #add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-event-.body1 #add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}
.input-bar {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(155, 155, 155);
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  padding: 5px;
  padding-left: 40px;
  background: white;
}
.fontColor {
  color: #002b5c;
  font-weight: 1000;
  margin-left: 30px;
}
.timePicker {
  border: 1px solid red;
  width: 150px;
}
.border-0 {
  outline: none;
  background: white;
  width: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.position-absolute {
  top: 5px;
  left: 8px;
  font-size: large;
  font-weight: 800px;
}

.input-radio-div {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(155, 155, 155);
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  padding: 5px;
}
.input-radio-div1 {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(155, 155, 155);
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  padding: 5px;
}

.font-radio {
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 5px;
}
.opt {
  list-style: none;
  padding: 20em 20em;
  margin: 20px;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em lem rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  /* display: none; */
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.demo-app {
  display: flex;
  /* min-height: 100%; */
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.calendardesign {
  height: 450px;
  width: 100%;
  background-color: white;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  /* height: 600px; */
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.schedulebtn {
  border: none;
  width: 110px;
  height: 45px;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: medium;
}
.scheduleSave {
  background-color: darkblue;
  color: white;
}
.scheduleCancel {
  background-color: silver;
  color: darkblue;
}

.dateandtimewidth {
  width: 250px;
}

.pickers-wrapper {
  display: flex;
  flex-direction: column;
}

.form-date-picker {
  flex: 50%;
}

.form-time-picker {
  flex: 50%;
  margin-left: 16px;
}
.target-date-color {
  background-color: #ffcc00; /* Yellow */
  border-color: #ffcc00; /* Yellow */
  color: #000000; /* Black */
}
.selectDropdownIcon {
  position: absolute;
  font-weight: bolder;
  right: 5px;
}

.wrapper1 {
  display: flex;
}

.select-wrapper {
  position: relative;
  margin-right: 20px;
  width: 47%;
}

.select-btn {
  cursor: pointer;
  padding: 12px 20px;
  border: 2px solid silver;
  border-radius: 2px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s, color 0.3s;
}

.select-btn .span {
  margin-right: 10px;
}

.content {
  display: none;
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  background: #fff;
  height: max-content;
  border-top: none;
  padding: 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 200px; 
}

.options {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  margin: 0 5px;
}

.options li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
}

.options li:hover,
.options li.selected {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.select-wrapper.active .content {
  display: block;
}

.search {
  position: relative;
  margin-bottom: 10px;
}

.search i {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 15px;
  transform: translateY(-50%);
}

.search input {
  width: 100%;
  padding: 10px 30px 10px 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search input:focus {
  border-color: silver ;
}


.no-result {
  color: #999;
  margin-top: 5px;
}
#searchInputFirst {
  outline: none;
  border: none;
  
}
#selectbackground{
  background-color: white;
  border-radius: none;
}
